body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

h1 {
    color: #333;
}

#billardCanvas {
    border: 1px solid black;
    background-color: green; /* Couleur de la table de billard */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
